@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Montserrat;
    color: #363636;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 15px;
    /* max-width: 1440px;     */
}

.top-container{
    background: url("../img/главное-фото.png") no-repeat top right;
    width: 100%;
    background-size: 98%;
    
}

header {
    width: 100%;
    display: flex;

}

.clearfix::after { 
    content: "";
    display: table;
    clear: both;
} 

.header-box {
    width: 100%;
    margin: 40px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}

.left-box {
    display: flex;
}

.left-box__cities {
    list-style: none;
    position: relative;
    margin: auto 0px;
    padding: 0px;
    display: flex;
    
}
.left-box__link {
    display: block;
    text-align: left;
    margin: 0px 15px;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    text-transform: uppercase;
}

.left-box__saint-petersburg {
    font-weight: bold;
    color: #2F80ED;
}

.right-box {
    display: flex;
}

.right-box__menu {
    list-style: none;
    position: relative;
    margin: auto 0px;
    padding: 0px;
    display: flex;
    /* text-align: center;   */
    align-items: center;
}

.right-box__link {
    display: block;
    text-align: right;
    margin: 0px 17px 0px 17px;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
}

.right-box__link:hover {
    font-weight: bold;
    position: static;
}

.right-box__courses {
    padding: 10px 20px;
    background: #FFFFFF;
    color: #2F80ED;
    border-radius: 30px;
}

.ad {
    text-align: left;
    /* display: block; */
    margin-left: 50%;
    color: #FFFFFF;
    width: 26%;
    display: inline-block;
}

.ad__text_size-big {
    text-transform: uppercase;
}

.ad__text_bold {
    font-weight: bold;
    font-size: 190%;
}

.sign-up {
    text-decoration: none;
    color: #FFFFFF;
    padding: 7px 40px;
    background: #64E2CD;
    border: 10px solid rgba(100, 226, 205, 0.5);
    border-radius: 50px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
}

.assessment {
    text-align: center;
    display: inline-block;
    color:#2F80ED;
    margin: 0px 20% auto;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    padding: 25px;
    border-radius: 200px;
    width: 180px;
    box-sizing: ;
}

.assessment__name {
    font-weight: bold;
}

.assessment__text_bold {
    font-weight: bold;
    font-size: 190%;
}

.assessment__more {
    text-decoration: none;
    color: #2F80ED;
}

.second-main-block {
    margin: 50px auto;
    max-width: 1210px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.second-main-block__left-box {
    display: block;
    text-align: left;
    max-width: 590px;
    /* width: 49%; */
    
}

.box {
    margin: 220px 0px auto;
    display: block; 
}
.second-main-block__left-box__text {
    font-weight: bold;
    font-size: 170%;
    color: #000000;
    display: inline-block;
    margin: auto 0px;
}

.second-main-block__right-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: 520px; */
    max-width: 590px;
}


.second-main-block__right-box__top {
    display: block;
    max-width: 280px;
    width: 100%;
    min-height: 220px;
    /* height: 100%; */
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
}


.second-main-block__right-box__bottom {
    display: block;
    max-width: 280px;
    width: 100%;
    min-height: 220px;
    /* height: 100%; */
    margin-top: 50px;
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
}

.second-main-block__right-box__numbers {
    color: #2F80ED;
    font-weight: bold;
    font-size: 170%;
    display: block;
    margin: 35px 35px 15px;
}

.second-main-block__right-box__content {
    display: inline-block;
    margin: 0px 35px;
    line-height: 1.3;
}