@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Montserrat;
    color: #363636;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 14px;
    /* max-width: 1440px;     */
}

.top-container {
    background: url("../img/главное-фото.png") no-repeat ;
    width: 100%;
    /* background-size: 100%; */
    background-position-x: 20px;
}

header {
    width: 100%;
    display: flex;

}

.clearfix::after { 
    content: "";
    display: table;
    clear: both;
} 

.header-box {
    width: 100%;
    margin: 40px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}

.left-box {
    display: flex;
}

.left-box__cities {
    list-style: none;
    position: relative;
    margin: auto 0px;
    padding: 0px;
    display: flex;
    
}
.left-box__link {
    display: block;
    text-align: left;
    margin: 0px 15px;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    text-transform: uppercase;
}

.left-box__saint-petersburg {
    font-weight: bold;
    color: #2F80ED;
}

.right-box {
    display: flex;
}

.right-box__menu {
    list-style: none;
    position: relative;
    margin: auto 0px;
    padding: 0px;
    display: flex;
    /* text-align: center;   */
    align-items: center;
}

.right-box__link {
    display: block;
    text-align: right;
    margin: 0px 17px 0px 17px;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
}

.right-box__link:hover {
    font-weight: bold;
    position: static;
}

.right-box__courses {
    padding: 10px 20px;
    background: #FFFFFF;
    color: #2F80ED;
    border-radius: 30px;
}

.ad {
    text-align: left;
    /* display: block; */
    margin-top: 15px;
    margin-left: 53%;
    color: #FFFFFF;
    width: 390px;
    display: inline-block;
    line-height: 1.3;
}

.ad__text_size-big {
    text-transform: uppercase;
    margin-block-end: 0em;
}

.ad__text_bold {
    font-weight: bold;
    font-size: 220%;
}

.sign-up {
    text-decoration: none;
    color: #FFFFFF;
    padding: 7px 40px;
    background: #64E2CD;
    border: 10px solid rgba(100, 226, 205, 0.5);
    border-radius: 50px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 20px;
}

.assessment {
    text-align: center;
    display: inline-block;
    color:#2F80ED;
    margin: 0px 15% auto;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    padding: 25px;
    border-radius: 200px;
    width: 180px;
    height: 180px;
    /* box-sizing: ; */
}

.assessment__name {
    font-weight: bold;
}

.assessment__text_bold {
    font-weight: bold;
    font-size: 190%;
}

.assessment__more {
    text-decoration: none;
    color: #2F80ED;
}

.second-main-block {
    margin: 50px auto 90px;
    max-width: 1190px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 600px; */
}

.second-main-block__left-box {
    display: block;
    text-align: left;
    max-width: 550px;
    /* width: 49%; */
    
}

.box {
    margin: 0px 0px auto;
    display: block; 
}
.second-main-block__left-box__text {
    font-weight: bold;
    font-size: 170%;
    color: #000000;
    display: inline-block;
    margin: auto 0px;
}

.second-main-block__right-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: 520px; */
    max-width: 590px;
}


.second-main-block__right-box__top {
    display: block;
    max-width: 280px;
    width: 100%;
    min-height: 220px;
    /* height: 100%; */
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
}


.second-main-block__right-box__bottom {
    display: block;
    max-width: 280px;
    width: 100%;
    min-height: 220px;
    /* height: 100%; */
    margin-top: 50px;
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
}

.second-main-block__right-box__numbers {
    color: #2F80ED;
    font-weight: bold;
    font-size: 170%;
    display: block;
    margin: 35px 35px 15px;
}

.second-main-block__right-box__content {
    display: inline-block;
    margin: 0px 35px;
    line-height: 1.3;
}

.third-main-block {
    display: flex;
    width: 100%;
    background: url("../img/background-1.png") no-repeat ;
    background-position-x: 100px;
}

.third-main-block__center-box {
    width: 790px;
    margin: 100px auto 100px;
    display: block;
    position: relative;
}

.third-main-block__center-box__top {
    display: block;
    width: 100%;
    margin: 0px 0px 50px;
}

.third-main-block__center-box__top__title {
    color: #000000;
    font-weight: bold;
    font-size: 170%;
    /* display: block; */
    width: 100%;
    margin: 0px 0px 50px;
}

.third-main-block__center-box__bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.third-main-block__center-box__bottom__mini__title {
    color: #2F80ED;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    width: 20px;
}

.third-main-block__center-box__bottom__mini {
    display: block;
    width: 240px;
    line-height: 1.5;
}

.fourth-main-block {
    margin: 120px 0px 30px;
    width: 100%;
    display: block;
}

.fourth-main-block__container {
    display: block;
    max-width: 930px;
    margin: 0px auto;
    justify-content: space-between;
    position: relative;
}

.fourth-main-block__title {
    font-weight: bold;
    color: #000000;
    font-size: 200%;
    margin: 0px 0px 55px;
    letter-spacing: 0.05em;
}

.fourth-main-block__description {
    display: flex;
    width: 100%;
    margin: 0px 0px 50px;
    justify-content: space-between;
    align-items: center;
}

.fourth-main-block__description__left-box {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    justify-content: space-between;
}

.fourth-main-block__description__mini {
    display: block;
    width: 230px;
    height: auto;
    line-height: 1.3;
    margin-bottom: 40px;
}

.fourth-main-block__description__mini__title {
    text-transform: uppercase;
    font-weight: bold;
    color: #2F80ED;
    font-size: 14px;
    margin: 0px 0px 10px;
    letter-spacing: 0.5px;
}

.fourth-main-block__description__right-box {
    width: 280px;
    display: block;
}

.fourth-main-block__mini {
    display: block;
    max-width: 280px;
    width: 100%;
    min-height: 170px;
    /* height: 100%; */
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
    margin: 0px 0px auto;
}

.fourth-main-block__mini__title {
    color: #2F80ED;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    margin: 35px 35px 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.fourth-main-block__mini__text {
    display: inline-block;
    margin: 0px 35px;
    line-height: 1.3;
    color: #636363;
    /* font-weight: 510; */
}

.fourth-main-block__link {
    text-transform: uppercase;
    color: #2F80ED;
    text-decoration: none;
    border-bottom: 1px dashed #2F80ED;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.fiveth-main-block {
    display: flex;
    width: 100%;
    background: url("../img/background-2.png") no-repeat ;
    background-position-x: -100px;
    margin: 0px 0px;
}

.fiveth-main-block__container {
    display: block;
    width: 100%;
    max-width: 1050px;
    width: 100%;
    margin: 150px auto 50px;
    position: relative;
}

.fiveth-main-block__title {
    color: #FFFFFF;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 60px;
    display: inline-block;
}

.fiveth-main-block__box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fiveth-main-block__mini {
    width: 490px;
    min-height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
    display: flex;
    margin-bottom: 50px;
}

.fiveth-main-block__mini__pic {
    display: block;
    margin: 35px 0px 0px 35px;
    height: 60px;
    /* width: 60px; */

}

.fiveth-main-block__mini__content {
    display: block;
    margin: 35px 35px 0px 25px;

}

.fiveth-main-block__mini__title {
    display: inline-block;
    text-transform: uppercase;
    color: #2F80ED;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.fiveth-main-block__mini__text {
    display: inline-block;
    line-height: 1.6;
}

.sixth-main-block {
    display: flex;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.sixth-main-block__outer {
    margin: 0px auto;
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.sixth-main-block__container {
    display: block;
    margin: 0px 25px;
    width: 100%;
    max-width: 1050px;
}

.sixth-main-block__title {
    display: inline-block;
    font-weight: bold;
    color: #000000;
    font-size: 200%;
    margin-bottom: 50px;
}

.sixth-main-block__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
    text-align: center;

}

.sixth-main-block__top__video {
    width: 660px;
    height: 360px;
    display: block;
    border-radius: 10px;

}

.sixth-main-block__top__mini {
    width: 280px;
    height: 170px;
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
    display: block;
    /* margin-top: 105px; */
    
}

.sixth-main-block__top__mini__content {
    display: block;
    margin-top: 50px;
}

.sixth-main-block__top__mini__title {
    font-weight: bold;
    color: #2F80ED;
    font-size: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 10px;
    font-weight: bold;
}

.sixth-main-block__bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sixth-main-block__bottom__mini {
    width: 210px;
    display: block;
    margin-bottom: 50px;

}

.sixth-main-block__bottom__mini__pic {
    /* width: 87px; */
    height: 60px;
    display: block;
    margin-bottom: 20px;

}

.sixth-main-block__bottom__mini__title {
    text-transform: uppercase;
    color: #2F80ED;
    letter-spacing: 0.05em;
    line-height: 1.4;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}

.sixth-main-block__bottom__mini__text {
    line-height: 1.4;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: inline-block;
}

.seventh-main-block {
    width: 100%;
    background: url("../img/background-3.png") no-repeat;
    background-position-x: 70px;
    background-size: 87%;
    display: flex;
}

.seventh-main-block__container {
    max-width: 1100px;
    width: 100%;
    margin: 0px auto 0px;
    display: block;
}

.seventh-main-block__title {
    color: #000000;
    font-size: 200%;
    font-weight: bold;
    display: inline-block;
    margin: 60px 0px 60px;
}

.seventh-main-block__comments {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.seventh-main-block__comments__left-box {
    display: block;
    width: 525px;

}

.seventh-main-block__comment {
    width: 100%;
    display: block;
    margin-bottom: 60px;

}

.seventh-main-block__comment__tooltip {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
    display: flex;
    max-width: 525px;
    margin-bottom: 13px;
    position: relative;
}

.seventh-main-block__comment__tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 16px;
    /* margin-left: -10px; */
    border-width: 15px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
}

.seventh-main-block__tooltip__content {
    margin: 30px 40px;
    display: block;

}

.seventh-main-block__tooltip__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 182.85%;
    /* or 29px */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: inline-block;
    margin-bottom: 20px;
}

.seventh-main-block__tooltip__text {
    font-size: 16px;
    line-height: 160%;
    /* or 29px */
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.seventh-main-block__comment__avatar {
    height: 70px;
    display: block;
}

.seventh-main-block__comments__right-box {
    display: block;
    width: 525px;
}

.eighth-main-block {
    display: flex;
    margin: 100px 0px;
    width: 100%;

}

.eighth-main-block__container {
    display: block;
    width: 100%;
    text-align: center;
}

.eighth-main-block__title {
    
    color: #000000;
    font-size: 200%;
    margin-bottom: 90px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.eighth-main-block__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

}

.eighth-main-block__photo {
    display: block;
    /* max-width: 330px; */
    width: 24%;
    margin-bottom: 20px;
}

.tenth-screen {
    display: flex;
    width: 100%;
    margin: 100px 0px;
}

.tenth-screen__container {
    display: block;
    width: 100%;
    background: url("../img/background-4.png") no-repeat center top;
    background-position-y: 60px;
    text-align: center;

}

.tenth-screen__title {
    color: #000000;
    font-size: 200%;
    /* margin: 100px 0px 90px; */
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.tenth-screen__box {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    justify-content: space-evenly;
    margin: 70px auto;
}

.tenth-screen__mini {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
    border-radius: 10px;
    width: 250px;
    min-height: 290px;
    /* text-align: center; */
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.tenth-screen__box .tenth-screen__mini:last-child {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
    border-radius: 10px;
    width: 500px;
    min-height: 150px;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.tenth-screen__mini__content {
    margin: 70px 0px 40px;
    display: block;
    text-align: center;
}

.tenth-screen__box .tenth-screen__mini:last-child .tenth-screen__mini__content {
    margin: 0px;
    display: block;
    text-align: center;
}

.tenth-screen__mini__price {
    color: #2F80ED;
    font-weight: bold;
    font-size: 170%;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 20px;
}

.tenth-screen__mini__text {
    color: #2F80ED;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 0px;
    display: inline-block;
    font-weight: bold;

}

.tenth-screen__mini__sign-up {
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px 40px;
    background: #52D1BC;
    border-radius: 50px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}

.tenth-screen__mini__stock {
    position: absolute;
    background-color: #2F80ED;
    height: 80px;
    width: 80px;
    border-radius: 300px;
    right: -30px;
    top: -30px;
    align-items: center;
    display: block;
}

.tenth-screen__mini__stock__text {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    align-items: center;
    font-weight: bold;
    margin-block-end: 0em;
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 34px;
}