@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Montserrat;
    color: #363636;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 14px;
    /* max-width: 1440px;     */
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: url("../img/главное-фото.png") no-repeat right;
}

.header-box {
    max-width: 1171px;
    width: 100%;
    margin: 40px auto 40px;
    text-align: center;
    display: flex;
}

.left-box {
    display: flex;
    margin-right: auto;
    /* font-size: 11px; */
}

.left-box__cities {
    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    vertical-align: middle;
}
.left-box__link {
    display: block;
    text-align: left;
    margin: 0px 17px 0px 17px;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
}

.left-box__saint-petersburg {
    font-weight: bold;
    color: #2F80ED;
}

.right-box {
    display: flex;
}

.right-box__menu {
    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    text-align: center;    
}

.right-box__link {
    display: block;
    text-align: right;
    margin: 0px 17px 0px 17px;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
}

.right-box__link:hover {
    font-weight: bold;
}

.right-box__courses {
    padding: 10px 20px;
    background: #FFFFFF;
    color: #2F80ED;
    border-radius: 30px;
}